* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header {
  width: 100%;
  height: 844px;
  background: url(assets/images/Rectangle\ 6.png) top center / cover no-repeat;
  position: absolute;
}
.header-nav {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
}
.list-img {
  display: flex;
  color: #ffffff;
  text-align: center;
}
.nav-heading {
  margin: auto 0;
  cursor: pointer;
  margin-left: 8px;
}
.heading-name {
  font-weight: 700;
}
.heading-subName {
  font-size: 12px;
  font-weight: 500;
}
.nav-list {
  display: flex;
  line-height: 59px;
  font-size: 16px;
  padding: 0 16px;
}
.list-link {
  margin-left: 24px;
}
.link-item {
  color: #ffffff;
  transition: 1s;
  border: none;
}
.link-item:hover {
  color: black;
  border-bottom: 2px solid #e24141;
}
.nav-contact {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.advise {
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  line-height: normal;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 24px;
  cursor: pointer;
}
.phone-icon {
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin: 0 12px;
}
.contact-phone {
  display: flex;
}
.phone {
  justify-content: center;
  display: flex;
  align-items: center;
}
.phone-icon:hover,
.advise:hover {
  background: #ad6736;
}
.header-container {
  
  width: 85%;
  margin: 33px auto;
  display: flex;
  justify-content: space-between;
}
.container-introduce {
  width: 633px;
  align-items: center;
  margin: auto 0;
 
}
.introduve-heading {
    border-left: 4px solid #FF6B00;
    height: 90%;
}
.heading-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-left: 12px;
}
.introduve-body {
  width: 531px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.introduce-contact {
  display: flex;
  align-items: center;
}
.btn-advise {
  padding: 8px 12px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  border-radius: 5px;
  border: none;
  margin-left: 24px;
  margin-top: 16px;
  cursor: pointer;
}
.contact-day {
  align-items: center;
  margin-top: 16px;
  margin-left: 12px;
}
.container-wonder {
  background: #ffffff;
  width: 535px;
  height: 656px;
  padding: 8px 12px;
  border-radius: 10px;
  
}
