* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}
.header {
  width: 100%;

  background: url(assets/images/Rectangle\ 6.png) top center / cover no-repeat;
}
.header-nav {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  padding-top: 39px;
  justify-content: space-between;
}
.list-img {
  display: flex;
  color: #ffffff;
  text-align: center;
}
.nav-heading {
  margin: auto 0;
  cursor: pointer;
  margin-left: 8px;
}
.heading-name {
  font-weight: 700;
}
.heading-subName {
  font-size: 12px;
  font-weight: 500;
}
.nav-list {
  display: flex;
  line-height: 59px;
  font-size: 16px;
  padding: 0 16px;
}
.list-link {
  margin-left: 24px;
}
.link-item {
  color: #ffffff;
  transition: 1s;
  border: none;
}
.link-item:hover {
  color: black;
  border-bottom: 2px solid #e24141;
}
.nav-contact {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.advise {
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  line-height: normal;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 24px;
  cursor: pointer;
}
.phone-icon {
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin: 0 12px;
}
.contact-phone {
  display: flex;
}
.phone {
  justify-content: center;
  display: flex;
  align-items: center;
}
.phone-icon:hover,
.advise:hover {
  background: #ad6736;
}
.header-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  height: 660px;
  justify-content: space-between;
}
.container-introduce {
  width: 633px;
  margin: auto 0;
}
.introduve-heading {
  border-left: 4px solid #ff6b00;
  height: 90%;
}
.heading-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-left: 12px;
}
.introduve-body {
  width: 531px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.introduce-contact {
  display: flex;
  align-items: center;
}
.btn-advise {
  padding: 8px 12px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  border-radius: 5px;
  border: none;
  margin-left: 24px;
  margin-top: 16px;
  cursor: pointer;
}
.contact-day {
  align-items: center;
  margin-top: 16px;
  margin-left: 12px;
}
.form-auth {
  background: #ffffff;
  width: 535px;
  height: 656px;
  border-radius: 10px;
  opacity: 0;
}
.auth-header {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  padding: 0 16px;
  align-items: center;
}

.header-heading {
  font-size: 24px;
  color: #f26a23;
}
.header-btn {
  background: #ffffff;
  border: none;
  padding: 4px 8px;
}
.auth-icons {
  font-size: 24px;
  cursor: pointer;
}
.auth-icons:hover {
  color: #ccc;
}
.header-item {
  margin-top: 18px;
  padding-left: 14px;
}
.auth-container {
  border-top: 1px solid #ecf0f5;
  margin-top: 26px;
}
.container-form {
  margin-top: 12px;
}
.form-input {
  display: flex;
  width: 465px;
  height: 56px;
  border-radius: 6px;
  margin: 0 30px 0 40px;
  margin-top: 14px;
  border: none;
}
.form-name {
  margin-left: 40px;
  font-weight: 500;
  font-size: 24px;
}
.input-name {
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 22px 40px;
  border: none;
}
.input-email {
  border-radius: 6px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 22px 42px;
  border: none;
}
.user-icons {
  position: absolute;
  padding: 18px 21px;
}
.email-icons {
  position: absolute;
  padding: 18px 21px;
  margin-top: 4px;
}
.footer-form {
  margin: 0 27px 0 40px;
  margin-top: 22px;
}
.footer-btn {
  width: 468px;
  height: 56px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  border-radius: 6px;
  border: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  prom {
    opacity: 1;
  }
}
.footer-option {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 12px;
  justify-content: center;
}
.option-dash {
  border-bottom: 1px solid rgb(143, 135, 135);
  width: 115px;
  height: 0;
}
.option-item {
  padding: 0 12px;
  color: rgb(107, 12, 12);
  font-size: 14px;
}
.btn-phone {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddc8bd;
  width: 468px;
  height: 56px;
  color: #f26a23;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.option-dot {
  margin: 0 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #f26a23;
}
.container {
  width: 100%;
}
.contaier-choose {
  width: 100%;
  /* background-color: #ccc; */
}
.choose-list {
  width: 87%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.choose-img {
  width: 480px;
  height: 506px;
  margin: 117px 0 88px 0;
}
.img {
  width: 100%;
  height: 100%;
}
.choose-item {
  margin-left: 48px;
}
.item-ask {
  color: #f26a23;
  font-size: 16px;
  margin: 0 0 8px 0;
}
.item-heading {
  padding: 8px 0;
  width: 714px;
  height: 78px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #343434;
}
.item-Literature {
  padding: 8px 0;
  margin-left: 8px;
  width: 626px;
  height: 152px;
  margin-top: 16px;
  size: 18px;
  line-height: 28px;
  color: #736556;
}
.item-btn {
  padding: 10px 20px;
  background-color: #ad6736;
  width: 110px;
  border-radius: 6px;
  margin-left: 12px;
}
.container-service {
  background-color: #7d4e1b;
}
.service-service {
  display: flex;
  width: 85%;
  height: 100%;
  padding: 74px 0;
  margin: 0 auto;
}
.service-best {
  margin-left: 10px;
}
.best-content {
  color: #ff8257;
  font-size: 16px;
}
.best-heading {
  color: #ffffff;
  font-size: 32px;
  padding: 8px 0;
}
.best-line {
  width: 59px;
  height: 0px;
  border-bottom: 4px solid #ff8257;
  border-radius: 10px;
}
.best-Literature {
  font-size: 16px;
  line-height: 24px;
  padding: 4px 12px;
}
.services-box {
  display: flex;
}
.service-list {
  background-color: #ffffff;
  margin: 0 10px;
  border-radius: 10px;
}
.list-item {
  padding: 28px 25px;
  position: relative;
}
.item-circle {
  width: 31px;
  height: 31px;
  border-radius: 50px;
  background: rgba(255, 130, 87, 0.15);
}
.item-icon {
  top: 32px;
  font-size: 24px;
  position: absolute;
  margin-left: 12px;
  color: #f26a23;
}
.service-heading {
  color: #f26a23;
  font-size: 16px;
  padding: 8px 0;
}
.item-content {
  width: 235px;
  height: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-left: 8px;
  line-height: 16px;
}
